@charset "utf-8";

#header {
    background-image: url("http://jos.gluweb.nl/lessen/web/blue.png");
    height: 150px;
    background-repeat: no-repeat;
    text-align: center;
    width: 960px; /* breedte van de header */
    margin: 0 auto;
    color: #ffffff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150px;
}

#content {
    text-align: center;
    width: 960px;
    margin: 0 auto;
}